<!-- Services Section -->
    <section id="call-for-papers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Papers</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p>Welcome to the 1st International Workshop on Software Fairness (FairSoft). Donec et nunc vitae tellus blandit tempor. Vivamus dolor nulla, tempor et sapien non, commodo vestibulum neque. Suspendisse non metus enim. Aliquam lorem nisl, lacinia scelerisque gravida vel, sagittis eu dui. Donec a lacus feugiat, dictum mauris at, aliquet velit. Sed eleifend dolor ligula, vitae iaculis neque mollis eu. Sed laoreet nulla metus. Donec mollis purus ut rhoncus aliquam. Mauris vitae tempus dui. Donec imperdiet neque lacus, eget bibendum dui mattis at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam arcu nunc, hendrerit eget pellentesque nec, convallis ut neque. In pharetra sagittis fermentum. Praesent viverra nunc eget viverra egestas. Nam dictum aliquam ligula et consequat.</p>
                    <p>Duis condimentum tincidunt enim, a faucibus nunc aliquam non:</p>
                    <ul>
                        <li>Morbi eros ex, tincidunt a lectus in, sodales faucibus urna.</li>
                        <li>Quisque vulputate euismod quam, vel eleifend metus rutrum quis.</li>
                        <li>Etiam sed nisl quis sapien euismod tincidunt sit amet vel sapien.</li>
                        <li>Curabitur vitae tempor ipsum.</li>
                        <li>Donec varius congue posuere.</li>
                      </ul>
                </div>
            </div>
        </div>
    </section>