<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>In case you have any questions, don't hesitate to contact us:</p>
                    <p>Ronnie de Souza: ronnie.desouzasantos@ucalgary.ca</p>
                    <p>Rodrigo Spínola: spinolaro@vcu.edu</p>
                </div>
        </div>
    </section>
