<!-- Services Section -->
<section id="criteria" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">EVALUATION CRITERIA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 text-justify col-md-offset-1">
                <p>Research papers will be reviewed by at least two members of the Program Committee. Submissions will be evaluated based on the following criteria:</p>
                <ul>
                    <li><b>Soundness:</b> The extent to which the paper’s contributions are supported by rigorous application of appropriate research methods.</li>
                    <li><b>Significance:</b> The extent to which the paper’s contributions are important with respect to software engineering challenges.</li>
                    <li><b>Novelty:</b> The extent to which the contribution is sufficiently original and is clearly explained with respect to the state-of-the-art.</li>
                    <li><b>Verifiability:</b> The extent to which the paper includes sufficient information to support independent verification or replication of the paper’s claimed contributions.</li>
                    <li><b>Presentation:</b> The extent to which the paper’s quality of writing meets the standards of Fairness, including clear descriptions and explanations, appropriate use of the English language, absence of major ambiguity, clearly readable figures and tables, and adherence to the formatting instructions provided below.</li>
                </ul>
                <p>Accepted papers will become part of the workshop proceedings, which will be included as a separate section of the proceedings of the main conference. <b>Authors of selected papers will be invited to submit extended versions of their work to the Information and Software Technology Special Issue on Software Fairness.</b></p>
            </div>
        </div>
    </div>
</section>