<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Fairness Workshop</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#call-for-papers">CALL FOR PAPERS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#dates">DATES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#submission-guidelines">SUBMISSION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#organization">ORGANIZATION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="col-md-7">
                <div class="intro-text text-right">
                    <div class="intro-lead-in">1st International Workshop on</div>
                    <div class="intro-heading">Fairness in Software Systems</div>
                    <div class="intro-date">March 4, 2025 | Co-located with <a href="https://conf.researchr.org/home/saner-2025">SANER</a> in Montréal, Québec, Canada</div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="intro-text">
                    <img src="img/workshop_logo_white.png" class="logo" alt="">
                </div>
            </div>
        </div>
    </header>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

