<!-- Team Section -->
    <section id="organization" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organization</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/1.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Ronnie de Souza Santos</h4>
                        <p><span class="label label-info">Co-Chair</span> University of Calgary</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://x.com/softwaronnie">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/drdesouzasantos/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            <li>
                                <a href="mailto:ronnie.desouzasantos@ucalgary.ca">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/2.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Rodrigo Spínola</h4>
                        <p><span class="label label-info">Co-Chair</span> Virginia Commonwealth University</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://x.com/rodrigoospinola/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/rodrigoospinola/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            <li>
                                <a href="mailto:spinolaro@vcu.edu">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/3.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Felipe Fronchetti</h4>
                        <p><span class="label label-info">Media Chair</span> Louisiana State University</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://x.com/fronchat">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/fronchat/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            <li>
                                <a href="mailto:fronchettl@vcu.edu">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/4.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Cleyton Magalhães</h4>
                        <p><span class="label label-info">Media Chair</span> Federal Rural University of Pernambuco</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://x.com/profcvanut">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://br.linkedin.com/in/cvanut">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            <li>
                                <a href="mailto:cleyton.vanut@ufrpe.br">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <p style="padding-left: 25px;"><b>Program Committee</b></p>
                <ul>
                    <li>Alvine Boaye Belle, York University, Canada</li>
                    <li>Christoph Treude, Singapore Management University, Singapore</li>
                    <li>Fabio Palomba, University of Salerno, Italy</li>
                    <li>Jeffrey Carver, University of Alabama, United States</li>
                    <li>Kostadin Dameviski, Virginia Commonwealth University, United States</li>
                    <li>Max Hort, Simula Research Laboratory, Oslo, Norway</li>
                    <li>Savio Freire, Federal Institute of Ceara, Brazil</li>
                    <li>Vladimir Mandic, University of Novi Sad, Serbia</li>
                    <li>More members coming soon...</li>
                </ul>
                </div>
            </div>
        </div>
    </section>