<!-- Services Section -->
<section id="dates" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Schedule</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 text-justify col-md-offset-1">
                <p style="text-align: center;">Explore the workshop schedule to stay on track with sessions, activities, and key events:</p>

                <h2>Session 1</h2>
                <table>
                    <tr>
                        <th width="10%">Time</th>
                        <th>Event</th>
                    </tr>
                    <tr>
                        <td>9:00 AM</td>
                        <td>Opening Remarks.</td>
                    </tr>
                    <tr>
                        <td>9:20 AM</td>
                        <td>Keynote: Title: Navigating Fairness Challenges in Intelligent Software Systems Foutse Khomh (École Polytechnique de Montréal).</td>
                    </tr>
                    <tr>
                        <td>10:10 AM</td>
                        <td>Q&A.</td>
                    </tr>
                </table>
                <h2>Session 2</h2>
                <table>
                    <tr>
                        <th width="10%">Time</th>
                        <th>Event</th>
                    </tr>
                    <tr>
                        <td>11:00 AM</td>
                        <td>Talk: Contextual Fairness-Aware Practices in ML: A Cost-Effective Empirical Evaluation.</td>
                    </tr>
                    <tr>
                        <td>11:20 AM</td>
                        <td>Talk: How Do Generative Models Draw a Software Engineer? A Case Study on Stable Diffusion Bias.</td>
                    </tr>
                    <tr>
                        <td>11:40 AM</td>
                        <td>Talk: An Exploratory Analysis of Fairness Tools in Open Source.</td>
                    </tr>
                    <tr>
                        <td>12:00 PM</td>
                        <td>Talk: Navigating Fairness in Healthcare: A Comparative Analysis of Single-Stage and Multi-Stage Bias Mitigation Strategies.</td>
                    </tr>
                    <tr>
                        <td>12:20 PM</td>
                        <td>Session Discussion.</td>
                    </tr>
                </table>
                <h2>Session 3</h2>
                <table>
                    <tr>
                        <th width="10%">Time</th>
                        <th>Event</th>
                    </tr>
                    <tr>
                        <td>14:00 PM</td>
                        <td>Keynote: Better AI for Healthcare Applications. Mariana Bento (Biomedical Engineering/Electrical and Software Engineering, University of Calgary).</td>
                    </tr>
                    <tr>
                        <td>14:50 PM</td>
                        <td>Q&A.</td>
                    </tr>
                    <tr>
                        <td>15:10 PM</td>
                        <td>Talk: Assessing Data Augmentation-Induced Bias in Training and Testing of Machine Learning Models.</td>
                    </tr>
                </table>
                <h2>Session 4</h2>
                <table>
                    <tr>
                        <th width="10%">Time</th>
                        <th>Event</th>
                    </tr>
                    <tr>
                        <td>16:00 PM</td>
                        <td>Talk: Addressing Popularity Bias in Third-Party Library Recommendations Using LLMs.</td>
                    </tr>
                    <tr>
                        <td>16:20 PM</td>
                        <td>Talk: AI-Driven Fairness Testing of Large Language Models: A Preliminary Study.</td>
                    </tr>
                    <tr>
                        <td>16:40 PM</td>
                        <td>Talk: Towards Fairness in AI: A Systematic Mapping Study on Software Engineering Solutions.</td>
                    </tr>
                    <tr>
                        <td>17:00 PM</td>
                        <td>Talk: Assessing Data Augmentation-Induced Bias in Training and Testing of Machine Learning Models.</td>
                    </tr>
                    <tr>
                        <td>17:15 PM</td>
                        <td>Closing Remarks.</td>
                    </tr>
                </table>
        </div>
        </div>
    </div>
</section>