<!-- Services Section -->
<section id="submission-guidelines" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SUBMISSION GUIDELINES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Donec et nunc vitae tellus blandit tempor. Vivamus dolor nulla, tempor et sapien non, commodo vestibulum neque. Suspendisse non metus enim. Aliquam lorem nisl, lacinia scelerisque gravida vel, sagittis eu dui. Donec a lacus feugiat, dictum mauris at, aliquet velit. Sed eleifend dolor ligula, vitae iaculis neque mollis eu. Sed laoreet nulla metus. Donec mollis purus ut rhoncus aliquam. Mauris vitae tempus dui. Donec imperdiet neque lacus, eget bibendum dui mattis at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam arcu nunc, hendrerit eget pellentesque nec, convallis ut neque. In pharetra sagittis fermentum. Praesent viverra nunc eget viverra egestas. Nam dictum aliquam ligula et consequat.</p>
                <p>Duis condimentum tincidunt enim, a faucibus nunc aliquam non. Quisque at ligula sit amet nisi mollis malesuada. Fusce vel urna ipsum. Aliquam auctor nec purus ac imperdiet. Nullam bibendum purus ante, nec laoreet est commodo vitae. Donec vitae dapibus nulla. Sed tristique, erat in eleifend placerat, purus velit molestie libero, et semper magna augue sed ante. Sed convallis ut augue sed convallis. Vestibulum nec tellus quis leo dapibus varius vitae vitae quam. Morbi gravida risus tortor, nec faucibus magna scelerisque vel.
                </p>
            </div>
        </div>
    </div>
</section>