<!-- Services Section -->
<section id="submission-guidelines">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SUBMISSION</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 text-justify col-md-offset-1">
                <p>Submitted papers must have been neither previously accepted for publication nor concurrently submitted for review in another journal, book, conference, or workshop. All submissions must come in PDF format and conform, at the time of submission, to the IEEE Conference Proceedings Formatting Guidelines. Submissions can be of the following types:</p>
                <ul>
                    <li><b>Regular Papers:</b> Up to 8 pages, including references. Regular papers must describe original contributions in research and/or practice. Although they can be work-in-progress, the authors must present a clear path forward. These will be given a 15-minute presentation during the workshop.</li>
                    <li><b>Short Papers:</b> Up to 4 pages, including references. Short papers encompass position papers, experience reports, work-in-progress, new trends papers, industrial reports, datasets and tools. These will be given a 7-minutes presentation during the workshop.</li>
                </ul>
                <p>The workshop will follow a double-anonymous peer review process in alignment with SANER’s Review Process policies. All submitted papers will be reviewed regarding technical quality, relevance, significance, and clarity by the program committee. Accepted papers will become part of the workshop proceedings, which will be included as a separate section of the proceedings of the main conference.</p>
            </div>
        </div>
    </div>
</section>