<!-- Services Section -->
<section id="dates" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dates</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-justify">
                <center>
                <p>Authors must comply with the following deadlines:</p>
                <table>
                    <tr>
                        <th>Deadline</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td>Abstract Submission</td>
                        <td>December 10, 2024 - 23:59 PM (AoE)</td>
                    </tr>
                    <tr>
                        <td>Paper Submission</td>
                        <td>December 22, 2024 - 23:59 PM (AoE)</td>
                    </tr>
                    <tr>
                        <td>Author Notification</td>
                        <td>February 1, 2024 - 23:59 PM (AoE)</td>
                    </tr>
                    <tr>
                        <td>Camera Ready</td>
                        <td>February 15, 2024 - 23:59 PM (AoE)</td>
                    </tr>
                    <tr>
                        <td><b>Workshop</b></td>
                        <td><b>March 4, 2025</b></td>
                    </tr>
                </table>
            </center>
        </div>
        </div>
    </div>
</section>